<launch>

  <arg name="contest" default="true" />
  <arg name="vision" default="true" />
  <arg name="imax" default="true" />

  <!-- load ROS parameter indicating whether PR2 is cvap or clearpath (with/without force-torque sensors) -->
  <param name="/contest" value="$(arg contest)"/>
  <rosparam command="load" file="$(find amazon_challenge_grasping)/config/base_scan.yaml" />

  <include file="$(find amazon_challenge_motion)/launch/moveit.launch" >
    <arg name="contest" value="$(arg contest)" />
  </include>
  
  <group if="$(arg vision)">
    <include file="$(find vision)/launch/pr2_cam_switch.launch" unless="$(arg imax)"/>
    <include file="$(find vision)/launch/imax.launch" if="$(arg imax)"/>
  </group>

  <node name="shelf_publisher" pkg="amazon_challenge_grasping" type="shelfPublisher.py" output="screen" launch-prefix="xterm -e" respawn="true"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amazon_challenge_motion)/launch/shelf_calibration.rviz" respawn="true"/>
  
  <node name="pr2_amazon_challenge_gui" pkg="rqt_amazon_challenge" type="rqt_amazon_challenge" output="screen" respawn="true"/>

</launch>
