<launch>

  <arg name="sim" default="false" />

  <include file="$(find amazon_challenge_motion)/launch/moveit.launch" >
    <arg name="sim" value="$(arg sim)" />
  </include>

  <node name="shelf_publisher" pkg="amazon_challenge_grasping" type="shelfPublisher.py" output="screen" launch-prefix="xterm -e"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amazon_challenge_motion)/launch/shelf_calibration.rviz" />
  
  <node name="pr2_amazon_challenge_gui" pkg="rqt_amazon_challenge" type="rqt_amazon_challenge" output="screen"/>

</launch>