<launch>

  <arg name="contest" default="true" />
  <arg name="vision" default="true" />

  <rosparam command="load" file="$(find pr2_amazon_challenge_sim)/config/test_random.yaml"/>


  <node name="task_manager" pkg="amazon_challenge_bt_actions" type="task_manager" respawn="true"/>

  <node name="remove_object" pkg="amazon_challenge_bt_actions" type="remove_object" respawn="true"/>
  <node name="list_done" pkg="amazon_challenge_bt_actions" type="ListDone" respawn="true"/>

  <node name="object_grasped" pkg="amazon_challenge_bt_actions" type="ObjectGraspedServer" respawn="true"/>

  <node name="next_object" pkg="amazon_challenge_bt_actions" type="next_object" respawn="true" />


  <node name="tree" pkg="amazon_challenge_bt_core" type="tree" respawn="true"/>

  <include file="$(find amazon_challenge_motion)/launch/base_torso_head_init_server.launch">
    <arg name="timeout" value="45.0"/>
  </include>

  <include file="$(find amazon_challenge_grasping)/launch/detector_action.launch">
    <arg name="timeout" value="120.0"/>
    <arg name="vision" value="$(arg vision)"/>
  </include>

  <include file="$(find amazon_challenge_motion)/launch/pregrasp_server.launch">
    <arg name="timeout" value="20.0"/>
  </include>

  <include file="$(find amazon_challenge_grasping)/launch/grasping_action.launch">
    <arg name="timeout" value="60.0"/>
  </include>

  <include file="$(find amazon_challenge_motion)/launch/dropping_server.launch">
    <arg name="timeout" value="90.0"/>
  </include>

  <node name="object_dropped" pkg="amazon_challenge_bt_actions" type="ObjectDroppedServer" respawn="true"/>
  <node name="arm_posed" pkg="amazon_challenge_bt_actions" type="ArmPosedServer" respawn="true"/>

</launch>
