<launch>

  <node name="task_manager" pkg="bt_actions" type="task_manager.py" />
  <node name="remove_object" pkg="bt_actions" type="remove_object.py" />
  <node name="list_done" pkg="bt_actions" type="ListDone" />

  <node name="object_grasped" pkg="bt_actions" type="ObjectGraspedServer" />

  <node name="tree" pkg="bt" type="tree" />

  <include file="$(find amazon_challenge_motion)/launch/arm_position_server.launch" />

  <include file="$(find pr2_ft_moveit_config)/launch/move_group.launch" />
  

</launch>